@charset "utf-8";

/* CSS Document */

body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select,
td {
    margin: 0;
    padding: 0
}

body {
    font: 12px "宋体", "Arial Narrow", HELVETICA;
    background: #fff;
    word-wrap: break-word;
}

a {
    text-decoration: none
}


/* em,
i,
strong,
b {
    font-style: normal;
    font-weight: 100;
} */

li {
    list-style: none
}

img {
    border: 0;
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.ind {
    text-indent: 2em
}

.noborder {
    border: 0;
}

.clear:after {
    content: ".";
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    display: block
}

html,
body,
#app,
.home-page,
.el-container {
    height: 100%;
}

.el-menu--collapse .el-submenu__title span {
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
    display: inline-block;
}

.el-menu--collapse .el-menu-item .el-submenu__icon-arrow,
.el-menu--collapse .el-submenu .el-submenu__title .el-submenu__icon-arrow {
    display: none;
}

.el-menu-item-group .el-menu-item {
    padding: 0 0 0 30px;
}

.el-menu-item-group .el-menu-item-group__title {
    padding: 0
}