html {
    overflow: hidden;
}


/* 表单输入框样式 */

.login-page .el-input__inner span {
    /* width: 83%; */
}


/* 登入标题 */

h1.title {
    color: white;
    font-size: 4em;
    font-weight: bold;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 30px;
}

.login-page .login-page-left {
    position: absolute;
}

.el-form-item__label {
    font-size: 16px;
    color: white;
}

.el-input__inner {
    background: rgba(0, 0, 0, 0.1);
}


/* 登入按钮 */

.el-button {
    width: 249px;
    height: 40px;
    font-size: 14px;
    border-radius: 4px;
    width: 100%;
    background: linear-gradient(90deg, #1596fb, #002dff);
}


/*整个登入框 */

.login-page-left {
    padding: 60px 0 100px;
    text-align: center;
    width: 500px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
    position: absolute;
    top: 54%;
    left: 65%;
    transform: translate(-50%, -50%);
    border-radius: 11px;
}